<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Setup</title>
    <style>
        body {
            background-color: black;
            color: white;
            font-family: Arial, sans-serif;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        li {
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <h1>We are Learning EJS! <%= name %></h1>

    <ul>
        <% products.map(function(product) { %>
            <li>
                Smartphone Name = <%= product.title %>
            </li>
            <li>
                Price = <%= product.price %>
            </li>
            <hr>
        <% }) %>
    </ul>
</body>
</html>
