<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>From Handlig</title>
    <style>
        body{
            background-color: black;
            color: aquamarine;
        }
        label{
          width: 150px;
          background-color: blue;
        }
    </style>
  </head>
  <body>
    <h1>Form Handling</h1>

    <form action="/form-submit" method="POST">
      <!-- Name Field -->
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" placeholder="Enter Name" required />
      <br /><br />

      <!-- Email Field -->
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" placeholder="Enter Email" required />
      <br /><br />

      <!-- Password Field -->
      <label for="password">Password:</label>
      <input type="password" id="password" name="password"  placeholder="Enter Password" required />
      <br /><br />
      <!-- Submit Button -->
      <input type="submit" value="submit"></input>
    </form>
  </body>
</html>
